<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<!-- H E AD -->

<head th:fragment="head">
<title>Big store a Ecommerce Online Shopping Category Flat
	Bootstrap Responsive Website Template| Home :: w3layouts</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta property="og:title" content="Vide" />
<meta name="keywords"
	content="Big store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<!-- //for-mobile-apps -->
<link th:href="@{/public/css/bootstrap.css}" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link th:href="@{/public/css/style.css}" rel='stylesheet' type='text/css' />
<!-- start-smoth-scrolling -->
<link th:href="@{/public/css/font-awesome.css}" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Montserrat:400,700'
	rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Noto+Sans:400,700'
	rel='stylesheet' type='text/css'>
<link rel="stylesheet" th:href="@{/public/css/jstarbox.css}" type="text/css"
	media="screen" charset="utf-8" />
<!---//End-rate---->
<!-- *** SCRIPTS TO INCLUDE ***-->
<script type="application/x-javascript">
	 addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } 
</script>
<!-- js -->
<script th:src="@{/public/js/jquery-1.11.1.min.js}"></script>
<!-- //js -->
<!-- start-smoth-scrolling -->
<script type="text/javascript" th:src="@{/public/js/move-top.js}"></script>
<script type="text/javascript" th:src="@{/public/js/easing.js}"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event) {
			event.preventDefault();
			$('html,body').animate({
				scrollTop : $(this.hash).offset().top
			}, 1000);
		});
	});
</script>
<!--- start-rate---->
<script th:src="@{/public/js/jstarbox.js}"></script>
<script type="text/javascript">
	jQuery(function() {
		jQuery('.starbox')
				.each(
						function() {
							var starbox = jQuery(this);
							starbox
									.starbox(
											{
												average : starbox
														.attr('data-start-value'),
												changeable : starbox
														.hasClass('unchangeable') ? false
														: starbox
																.hasClass('clickonce') ? 'once'
																: true,
												ghosting : starbox
														.hasClass('ghosting'),
												autoUpdateAverage : starbox
														.hasClass('autoupdate'),
												buttons : starbox
														.hasClass('smooth') ? false
														: starbox
																.attr('data-button-count') || 5,
												stars : starbox
														.attr('data-star-count') || 5
											})
									.bind(
											'starbox-value-changed',
											function(event, value) {
												if (starbox.hasClass('random')) {
													var val = Math.random();
													starbox.next().text(
															' ' + val);
													return val;
												}
											})
						});
	});
</script>

</head>
<body>
<!-- *** TOPBAR Y NAVBAR ***
 _________________________________________________________ -->
	
	<div th:fragment="header">
		<div th:replace="view/public/layout/header"></div>
	</div>
	
    <!-- *** TOPBAR Y NAVBAR END *** -->
    

        <!-- *** FOOTER Y COPYRIGHT ***
 _________________________________________________________ -->
        <div th:fragment="footer">
			<div th:replace="view/public/layout/footer"></div>
		</div>

        <!-- *** FOOTER Y COPYRIGHT END *** -->

    </div>
    <!-- /#all -->
    
</body>
</html>